## 3장 노트정리

이 파일은 3장을 학습한 내용을 정리한 내용입니다.

날짜 : 2025 - 09 - 17

저자 : 차일권

학번 : 202111467

#### 조건문

In [ ]:
score = int(input("정수 입력: "))   # 점수 입력받기

if score >= 90:                     # 점수가 90 이상이면
    print("성적 : A")               # 성적 출력
    print("장학금 수여")            # 장학금 수여 출력

age_0 = 22
age_1 = 18
age = int(input("your age? "))      # 나이 입력받기

if age < age_0 and age > age_1:     # 복합 조건문
    print("당신의 나이는 18~22세 사이입니다")

score = int(input("정수 입력: "))
> 정수 입력: 90

if score >= 90:   
    print("성적 : A")   
    print("장학금 수여")   
> 성적 : A   
> 장학금 수여

age_0 = 22   
age_1 = 18   
age = int(input("your age? "))
> your age? 20

if age < age_0 and age > age_1:   
    print("당신의 나이는 18~22세 사이입니다")
> 당신의 나이는 18~22세 사이입니다

In [ ]:
score = int(input("정수 입력: "))  # 점수 입력받기

if score >= 90 :                    # 점수가 90 이상이면
    print("pass")                   # pass 출력
else :                              # 아니면
    print("fail")                   # fail 출력

res = 'pass' if score >= 90 else 'fail'  # 삼항 연산자로 조건문 처리
print(res)

score = int(input("정수 입력: "))
> 정수 입력: 85

if score >= 90 :   
    print("pass")   
else :   
    print("fail")
> fail

res = 'pass' if score >= 90 else 'fail'   
print(res)
> fail

In [ ]:
year = int(input("Type a year :"))   # 연도 입력받기

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):  # 윤년 조건
    print(year, "is a leap year")       # 윤년일 경우 출력
else:
    print(year, "is not a leap year")   # 윤년이 아닐 경우 출력

year = int(input("Type a year :"))
> Type a year : 2024

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):   
    print(year, "is a leap year")   
else:   
    print(year, "is not a leap year")
> 2024 is a leap year

In [ ]:
n = int(input("type intnumber : "))   # 정수 입력받기

if n > 0:                             # n이 0보다 크면
    print("positive")                 # 양수 출력
elif n < 0:                           # n이 0보다 작으면
    print("negative")                 # 음수 출력
else:                                 # 나머지 경우(0)
    print("0")                        # 0 출력

n = int(input("type intnumber : "))   # 정수 입력받기

if n >= 0:                            # n이 0보다 크거나 같으면
    if n == 0:                        # n이 0과 같으면
        print("0")                    # 0 출력
    else:                             # 아니면
        print("positive")             # 양수출력
else:                                 # 0보다 크거나 같지않으면
    print("negative")                 # 음수 출력

n = int(input("type intnumber : "))
> type intnumber : 5

if n > 0:   
    print("positive")   
elif n < 0:   
    print("negative")   
else:   
    print("0")
> positive

n = int(input("type intnumber : "))
> type intnumber : -3

if n >= 0:   
    if n == 0:   
        print("0")   
    else:   
        print("positive")   
else:   
    print("negative")
> negative

In [ ]:
n = int(input("type int number : "))   # 정수 입력 받기

if n > 0:                              # n이 양수인지 확인
    print("positive")                  # 양수이면 positive 출력
elif n < 0:                            # n이 음수인지 확인
    print("negative")                  # 음수이면 negative 출력
else:                                  # n이 0인 경우
    print("0")                         # 0 출력

n = int(input("type int number : "))
> type int number : -2

if n > 0:   
    print("positive")   
elif n < 0:   
    print("negative")   
else:   
    print("0")
> negative

In [ ]:
age = 12                             # 나이 설정

if age < 4:                          # 4세 미만
    price = 0
elif age < 18:                        # 4세 이상 18세 미만
    price = 5
elif age < 65:                        # 18세 이상 65세 미만
    price = 10
else:                                 # 65세 이상
    price = 5

print("Your admission cost is $" + str(price) + ".")  # 입장료 출력

age = 12   
if age < 4:   
    price = 0   
elif age < 18:   
    price = 5     
elif age < 65:   
    price = 10   
else:   
    price = 5   
print("Your admission cost is $" + str(price) + ".")
> Your admission cost is $5.

#### while반복문

In [ ]:
i = 1                  # 초기화
sum = 0                # 합계 초기화

while i <= 100:         # 1~100까지 반복
    sum = sum + i       # 현재 i를 sum에 더함
    i = i + 1           # i 증가

print("sum=", sum)      # 결과 출력

i = 1   
sum = 0   

while i <= 100:
    sum = sum + i   
    i = i + 1   

print("sum=", sum)
> sum= 5050

In [ ]:
n = int(input('Number: '))        # 10진수 입력
result = ''                        # 변환 결과 저장

while n != 0:
    m = n % 2                      # 나머지
    result = str(m) + result       # 숫자를 문자열로 변환하여 앞에 추가
    n = n // 2                     # 몫

print("2진수=", result)            # 결과 출력

n = int(input('Number: '))
> Number: 19

result = ''

while n != 0:   
    m = n % 2   
    result = str(m) + result   
    n = n // 2

print("2진수=", result)
> 2진수= 10011

####  for반복문

In [ ]:
for i in [1, 2, 3]:            # 리스트의 각 요소 반복
    print("숫자", i)           # 숫자와 함께 출력

for i in (1, 2, 3):            # 튜플의 각 요소 반복
    print("숫자", i)           # 숫자와 함께 출력

for i in 'hello':               # 문자열의 각 문자 반복
    print(i)                    # 문자 출력

for i in [1, 2, 3]:   
    print("숫자", i)
> 숫자 1  
> 숫자 2   
> 숫자 3

for i in (1, 2, 3):   
    print("숫자", i)
> 숫자 1   
> 숫자 2   
> 숫자 3

for i in 'hello':   
    print(i)
> h   
> e   
> l   
> l   
> o

In [ ]:
for i in range(1, 4, 1):  # 1부터 3까지 1씩 증가
    print("Number", i)     # 현재 숫자 출력

for i in range(1, 4, 1):   
    print("Number", i)
> Number 1   
> Number 2   
> Number 3

In [ ]:
sum = 0
for i in range(1, 101, 1):  # 1부터 100까지 1씩 증가
    sum = sum + i           # 합계 계산
print("sum = ", sum)        # 합계 출력

sum = 0   
for i in range(1, 101, 1):   
    sum = sum + i   
print("sum = ", sum)
> sum =  5050

In [ ]:
x = float(input('Type x : '))  # 밑 입력
n = int(input('Type n : '))    # 지수 입력
prod = 1
for i in range(1, n+1):        # 1부터 n까지 반복
    prod = prod * x            # 곱셈
print(prod)                     # 결과 출력

x = float(input('Type x : '))
> Type x : 2

n = int(input('Type n : '))
> Type n : 3

prod = 1   
for i in range(1, n+1):   
    prod = prod * x   
print(prod)
> 8.0

In [ ]:
for i in range(2, 10, 1):                  # 2단부터 9단까지 반복
    for j in range(1, 10, 1):              # 1부터 9까지 곱셈 반복
        print("%d x %d = %d" % (i, j, i*j))  # 구구단 출력

while True:                                # 조건이 항상 참인 무한루프
    print("last forever")                  # 계속 출력

for i in range(2, 10, 1):   
    for j in range(1, 10, 1):   
        print("%d x %d = %d" % (i, j, i*j))
> 2 x 1 = 2   
> 2 x 2 = 4   
> 2 x 3 = 6   
> 2 x 4 = 8   
> 2 x 5 = 10   
> 2 x 6 = 12    
> 2 x 7 = 14   
> 2 x 8 = 16   
> 2 x 9 = 18   
> 3 x 1 = 3   
> ...   
> 9 x 9 = 81

while True:   
    print("last forever")
> last forever   
> last forever   
> last forever   
> ...

#### 기타 제어문

In [ ]:
n = 10   
while n >= -10:   
    if n == 0:   
        break                    # n=0이면 while 블록 탈출
    inv = 1.0 / n                 # 역수 계산
    print(inv)                     # 출력
    n = n - 1                      # n 감소

n = 10   
while n >= -10:   
    if n == 0:   
        break   
    inv = 1.0 / n   
    print(inv)
> 0.1   
> 0.1111111111111111   
> 0.125   
> 0.14285714285714285   
> 0.16666666666666666   
> 0.2   
> 0.25   
> 0.3333333333333333   
> 0.5   
> 1.0

In [ ]:
x = float(input('Type x : '))  # 밑 입력
n = int(input('Type n : '))    # 지수 입력
prod = 1
for i in range(1, n+1):        # 1부터 n까지 반복
    prod = prod * x            # 곱셈
print(prod)                     # 결과 출력

x = float(input('Type x : '))
> Type x : 2

n = int(input('Type n : '))
> Type n : 3

prod = 1   
for i in range(1, n+1):   
    prod = prod * x   
print(prod)
> 8.0

In [ ]:
def handle_status(status):
    match status:
        case 200:
            return "성공"                   # 상태 코드 200 처리
        case 404:
            return "페이지를 찾을 수 없음"    # 상태 코드 404 처리
        case 500:
            return "서버 오류"               # 상태 코드 500 처리
        case _:
            return "알 수 없는 상태"         # 그 외 코드 처리

print(handle_status(200))                 # "성공"
print(handle_status(999))                 # "알 수 없는 상태"

def handle_status(status):
    match status:   
        case 200:   
            return "성공"   
        case 404:   
            return "페이지를 찾을 수 없음"   
        case 500:   
            return "서버 오류"   
        case _:   
            return "알 수 없는 상태"

print(handle_status(200))
> 성공

print(handle_status(999))
> 알 수 없는 상태