## 4장 노트정리

이 파일은 4장을 학습한 내용을 정리한 내용입니다.

날짜 : 2025 - 09 - 10

저자 : 차일권

학번 : 202111467

#### 문자열

In [ ]:
word = 'Python'

word[0]        # 첫 번째 문자
word[5]        # 마지막 문자
word[-1]       # 마지막 문자 (역방향 인덱스)
word[-6]       # 첫 번째 문자 (역방향 인덱스)

word[0:2]      # 0번째부터 1번째까지
word[2:5]      # 2번째부터 4번째까지
word[:2]       # 처음부터 1번째까지
word[4:]       # 4번째부터 끝까지
word[-2:]      # 뒤에서 두 번째부터 끝까지

word[:2] + word[2:]  #붙여쓰기 원래 문자열과 동일

#word[42]       # 인덱스 범위 초과 오류
word[4:42]     # 4번째부터 끝까지 (범위를 넘어가도 에러 아님)
word[42:]      # 빈 문자열 (범위를 넘어가면 빈 문자열 반환)

#word[0] = 'J'  # 문자열은 변경 불가

word = 'Python'

word[0]
> 'P'

word[5]
> 'n'

word[-1]
> 'n'

word[-6]
> 'P'

word[0:2]
> 'Py'

word[2:5]
> 'tho'

word[:2]
> 'Py'

word[4:]
> 'on'

word[-2:]
> 'on'

word[:2] + word[2:]
> 'Python'

word[4:42]
> 'on'

word[42:]
> ''

In [ ]:
word = 'Python'                 # 원래 문자열
word2 = 'J' + word[1:]          # 첫 글자를 'J'로 바꾸고 나머지 글자는 그대로 붙임
word2                           # 결과 확인

word = 'Python'   
word2 = 'J' + word[1:]   

word2
> 'Jython'

In [ ]:
s = 'smiles'       # 문자열 'smiles'를 변수 s에 저장
len(s)             # 문자열 s길이 출력

s = 'smiles'

len(s)
> 6

In [ ]:
outStr = ""                        # 결과를 저장할 빈 문자열
count, i = 0, 0                     # 문자열 길이와 변수 초기화
inStr = input("Type string : ")     # 사용자로부터 문자열 입력
count = len(inStr)                  # 입력 문자열의 길이를 구함
for i in range(0, count) :          # 문자열 길이만큼 반복
    outStr += inStr[count - (i + 1)] # 마지막 문자부터 첫 문자까지 차례대로 outStr에 추가
print("Reversed string : %s" % outStr)  # 뒤집힌 문자열 출력

outStr = ""    
count, i = 0, 0  

inStr = input("Type string : ")
> Type string : hello

count = len(inStr)   
for i in range(0, count) :   
    outStr += inStr[count - (i + 1)]
    
print("Reversed string : %s" % outStr)
> Reversed string : olleh

In [ ]:
'a' in 'cat'        # 'cat' 문자열에 'a'가 포함되어 있는지 확인 
'a' not in 'can'    # 'can' 문자열에 'a'가 포함되어 있지 않은지 확인

'a' in 'cat'
> True

'a' not in 'can'
> False

#### 문자열 처리 메소드

In [ ]:
'123'.isdigit()         # 문자열이 숫자로만 구성되어 있는지 확인 
'abcABC'.isalpha()      # 문자열이 알파벳 문자로만 구성되어 있는지 확인 
'Ab122'.isalnum()       # 문자열이 문자와 숫자의 혼합인지 확인 
'AB'.isupper()          # 문자열이 모두 대문자인지 확인 
'ab'.islower()          # 문자열이 모두 소문자인지 확인 
' '.isspace()           # 문자열이 공백문자인지 확인 

str = 'Python programming is easy!'  # 문자열 변수 선언

str.upper()              # 모든 문자를 대문자로 변환
str.lower()              # 모든 문자를 소문자로 변환
str.swapcase()           # 대문자는 소문자로, 소문자는 대문자로 변환
str.title()              # 각 단어의 첫 글자를 대문자로 변환

'123'.isdigit()
> True

'abcABC'.isalpha()
> True

'Ab122'.isalnum()
> True

'AB'.isupper()
> True

'ab'.islower()
> True

' '.isspace()
> True

str = 'Python programming is easy!'

str.upper()
> 'PYTHON PROGRAMMING IS EASY!'

str.lower()
> 'python programming is easy!'

str.swapcase()
> 'pYTHON PROGRAMMING IS EASY!'

str.title()
> 'Python Programming Is Easy!'

In [ ]:
str = 'Python programming is easy!'  # 문자열 변수 선언
str.count('i')        # 문자열에서 'i' 문자가 몇 번 등장하는지 반환 
str.find('o')         # 문자열에서 'o'가 처음 등장하는 위치 반환 없으면 -1
str.rfind('o')        # 문자열에서 'o'가 마지막으로 등장하는 위치 반환 
str.index('on')       # 문자열에서 'on'이 처음 등장하는 위치 반환 없으면 ValueError

str = 'Python programming is easy!'

str.count('i')
> 2

str.find('o')
> 4

str.rfind('o')
> 9

str.index('on')
> 4

In [ ]:
x = 'a bc'        # 문자열 변수 선언
x.split()         # 공백을 기준으로 문자열을 분리 
x.split('b')      # 'b' 문자를 기준으로 문자열을 분리

x = 'a bc'  

x.split()
> ['a', 'bc']

x.split('b')
> ['a ', 'c']

In [ ]:
str = ' hello '      # 문자열 변수 선언 
str.strip()          # 양쪽 공백 제거 
str                  # 원래 문자열은 변하지 않음 
str.rstrip()         # 오른쪽 공백 제거 
str.lstrip()         # 왼쪽 공백 제거

str = ' hello '

str.strip()
> 'hello'

str
> ' hello '

str.rstrip()
> ' hello'

str.lstrip()
> 'hello '

In [ ]:
'*'.join('hello')    # '*' 문자를 사용해 문자열의 각 문자를 연결 
'12'.zfill(5)        # 문자열 '12' 왼쪽을 0으로 채워 5자리로 만듦 
'he'.rjust(5)        # 5자리 공간에서 오른쪽 정렬 
'he'.ljust(5)        # 5자리 공간에서 왼쪽 정렬 
'he'.center(5)       # 5자리 공간에서 가운데 정렬

'*'.join('hello')
> 'h*e*l*l*o'

'12'.zfill(5)
> '00012'

'he'.rjust(5)
> '   he'

'he'.ljust(5)
> 'he   '

'he'.center(5)
> ' he '

#### 리스트

In [ ]:
odd = [1, 3, 5, 7, 9]          # 리스트 생성
squares = [1, 4, 9, 16, 25]    # 정수 리스트 생성
squares                          # 리스트 내용 확인
empty = []                      # 공백 리스트 생성
empty                          # 빈 리스트 출력
a = [1, 'hello', 2, 'world', 1.23]  # 정수, 문자열, 실수 혼합 리스트

odd = [1, 3, 5, 7, 9]
> [1, 3, 5, 7, 9]

squares = [1, 4, 9, 16, 25]   
squares
> [1, 4, 9, 16, 25]

empty = []   
empty
> []

a = [1, 'hello', 2, 'world', 1.23]
> [1, 'hello', 2, 'world', 1.23]

In [ ]:
squares = [1, 4, 9, 16, 25]      # 리스트 생성
squares[0]                       # 첫 번째 요소 
squares[-1]                      # 마지막 요소 추출
squares[0:3]                     # 0번째부터 2번째까지 슬라이싱
squares[-3:]                     # 뒤에서 세 번째 요소부터 끝까지 슬라이싱

squares = [1, 4, 9, 16, 25]

squares[0]
> 1

squares[-1]
> 25

squares[0:3]
> [1, 4, 9]

squares[-3:]
> [9, 16, 25]

In [ ]:
squares + [36, 49, 64, 81, 100]    # 기존 리스트에 새 리스트를 더하여 합치기
a = [1, 2, 3]                      
b = [4, 5, 6]
a + b                               # 두 리스트를 더해 하나의 리스트로 합치기

squares + [36, 49, 64, 81, 100]  
> [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

a = [1, 2, 3]   
b = [4, 5, 6]   
a + b  
> [1, 2, 3, 4, 5, 6]

In [ ]:
cubes = [1, 8, 27, 65, 125]  # 세제곱수 초기화
4 ** 3                        # 4의 세제곱 계산
cubes[3] = 64                # 인덱스 3의 요소를 64로 수정
cubes                         # 수정된 리스트 확인
cubes.append(216)             # 리스트 마지막에 216 추가
cubes.append(7 ** 3)          # 리스트 마지막에 7의 세제곱(343) 추가
cubes                         # 최종 리스트 확인

cubes = [1, 8, 27, 65, 125]  
4 ** 3                        
> 64

cubes[3] = 64                
cubes
> [1, 8, 27, 64, 125]

cubes.append(216)             
cubes.append(7 ** 3)         
cubes
> [1, 8, 27, 64, 125, 216, 343]

In [ ]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']  # 초기 리스트
letters                                        # 리스트 확인
letters[2:5] = ['C', 'D', 'E']                 # 인덱스 2~4 요소를 새 값으로 수정
letters                                        # 수정된 리스트 확인
letters[2:5] = []                              # 인덱스 2~4 요소 제거
letters                                        # 제거 후 리스트 확인
letters[:] = []                                # 리스트의 모든 요소 제거
letters                                        # 최종 빈 리스트 확인

letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']   
letters
> ['a', 'b', 'c', 'd', 'e', 'f', 'g']

letters[2:5] = ['C', 'D', 'E']   
letters
> ['a', 'b', 'C', 'D', 'E', 'f', 'g']

letters[2:5] = []   
letters
> ['a', 'b', 'f', 'g']

letters[:] = []   
letters
> []

In [ ]:
a = ['a', 'b', 'c']          # 첫 번째 리스트
n = [1, 2, 3]                # 두 번째 리스트
x = [a, n]                   # 리스트 안에 리스트를 포함 
x                            # 중첩 리스트 확인
x[0]                         # 첫 번째 리스트 요소 확인
x[0][1]                      # 첫 번째 리스트의 두 번째 요소 확인

a = ['a', 'b', 'c']   
n = [1, 2, 3]   
x = [a, n]   

x
> [['a', 'b', 'c'], [1, 2, 3]]

x[0]
> ['a', 'b', 'c']

x[0][1]
> 'b'

In [ ]:
list2d = [[1,2,3],       # 2차원 배열
          [4,5,6],
          [7,8,9]]

list2d[0][0]             # 첫 번째 행, 첫 번째 열 
list2d[2][2]             # 세 번째 행, 세 번째 열

list2d = [[1,2,3],    
          [4,5,6],   
          [7,8,9]]   

list2d[0][0]
> 1

list2d[2][2]
> 9

In [ ]:
letters = ['a', 'b', 'c', 'd']   # 리스트 생성
len(letters)                     # 리스트 길이 
num = [1, 2, 3, 4, 5]            # 숫자 리스트
sum(num)                         # 합계 
min(num)                         # 최소값 
max(num)                         # 최대값

letters = ['a', 'b', 'c', 'd']   
len(letters)
> 4

num = [1, 2, 3, 4, 5]   

sum(num)
> 15

min(num)
> 1

max(num)
> 5

#### 리스트 메소드

In [7]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False) unbound builtins.list method
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [ ]:
cars = ['taxi', 'sedan', 'bus', 'truck']
cars.sort()                       # 오름차순 정렬
print(cars)                       # 정렬된 cars 출력
cars.sort(reverse=True)           # 내림차순 정렬
print(cars)                       # 정렬된 cars 출력
print("Here is the original list:")  
print(cars)                       # 정렬된 리스트 그대로 출력
print("\nHere is the sorted list:")  
print(sorted(cars))               # 오름차순 정렬된 새 리스트 반환
print("\nHere is the original list again:")  
print(cars)                       # 원래 리스트는 여전히 내림차순 상태 출력

cars = ['taxi', 'sedan', 'bus', 'truck']   
cars.sort()   

print(cars)
> ['bus', 'sedan', 'taxi', 'truck']

cars.sort(reverse=True)   
print(cars)   
> ['truck', 'taxi', 'sedan', 'bus']

print("Here is the original list:")   

> Here is the original list:   

print(cars)
> ['truck', 'taxi', 'sedan', 'bus']

print("\nHere is the sorted list:")
> Here is the sorted list:

print(sorted(cars))
> ['bus', 'sedan', 'taxi', 'truck']

print("\nHere is the original list again:")
> Here is the original list again:

print(cars)
> ['truck', 'taxi', 'sedan', 'bus']

In [ ]:
cars = ['taxi', 'sedan', 'bus', 'truck ']

print(cars)                # 원래 리스트 출력
# ['taxi', 'sedan', 'bus', 'truck ']

cars.reverse()             # 리스트 요소 순서를 거꾸로 뒤집기
print(cars)                # ['truck ', 'bus', 'sedan', 'taxi']

motorcycles = ['honda', 'yamaha', 'suzuki']

# motorcycles[3]은 존재하지 않음 (인덱스 0~2까지만 있음)
# 따라서 IndexError 발생
print(motorcycles[3])

cars = ['taxi', 'sedan', 'bus', 'truck ']
print(cars)
> ['taxi', 'sedan', 'bus', 'truck ']

cars.reverse()
print(cars)
> ['truck ', 'bus', 'sedan', 'taxi']

motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles[3])
> Traceback (most recent call last):   
>   File "motorcycles.py", line 3, in <module>   
>     print(motorcycles[3])   
> IndexError: list index out of range

In [ ]:
# a 원소의 3배수로 구성되는 리스트 생성
a = [1, 2, 3, 4]
result = [num*3 for num in a]     
print(result)  # [3, 6, 9, 12]

# a의 원소 중 짝수만 골라 3배수로 구성되는 리스트 생성
result = [num*3 for num in a if num % 2 == 0]
print(result)  # [6, 12]

# range(0~9)에서 짝수는 2배, 홀수는 제곱으로 처리
result = [i*2 if i%2 == 0 else i**2 for i in range(10)]
print(result)  # [0, 1, 4, 9, 8, 25, 12, 49, 16, 81]

a = [1, 2, 3, 4]   
result = [num*3 for num in a]   
print(result)
> [3, 6, 9, 12]

result = [num*3 for num in a if num % 2 == 0]   
print(result)   
> [6, 12]

result = [i*2 if i%2 == 0 else i**2 for i in range(10)]   
print(result)   
> [0, 1, 4, 9, 8, 25, 12, 49, 16, 81]

#### 튜플(tuple)

In [ ]:
t1 = (1,2,3)        # () 안에 요소를 나열하여 튜플 생성
t1                  # (1, 2, 3)
t2 = 1,2,3          # 괄호 없이 나열해도 튜플 생성 (패킹)
t2                  # (1, 2, 3)
t3 = 1,             # 요소가 하나뿐인 튜플 (쉼표 반드시 필요)
t3                  # (1,)
t4 = tuple()        # 빈 튜플 생성
t4                  # ()

t1 = (1,2,3)   
t1
> (1, 2, 3)

t2 = 1,2,3   
t2
> (1, 2, 3)

t3 = 1,   
t3
> (1,)

t4 = tuple()   
t4
> ()

In [ ]:
t1 = (1,2,3)
t1[1]              # 인덱스 1번 요소 추출
t1[1:3]            # 인덱스 1~2 범위 추출

t1 = (1,2,3)
t2 = ('a','b')
t1 + t2            # 두 튜플을 하나로 합치기
t1 * 2             # 같은 튜플을 두 번 반복

t1 = (1,2,3)   
t1[1]
> 2

t1[1:3]   
> (2, 3)

t1 = (1,2,3)   
t2 = ('a','b')   
t1 + t2   
> (1, 2, 3, 'a', 'b')

t1 * 2   
> (1, 2, 3, 1, 2, 3)

In [ ]:
T1 = (1,2,3)           # 튜플 생성
L1 = list(T1)          # 튜플을 리스트로 변환
L1.append(4)           # 리스트에 요소 4 추가
T1 = tuple(L1)         # 리스트를 다시 튜플로 변환
T1                     # 결과 확인

a, b, c = (1, 2, 3)    # 튜플 언패킹: 각 요소를 변수에 할당
a                      # 1
b                      # 2
c                      # 3

T1 = (1,2,3)   
L1 = list(T1)   
L1.append(4)   
T1 = tuple(L1)   
T1
> (1, 2, 3, 4)

a, b, c = (1, 2, 3)   
a
> 1
b
> 2
c
> 3

#### 딕셔너리(dictionary)

In [ ]:
height = {'Jun':174, 'Kim':170, 'Lee':165}   # key: 값 쌍으로 딕셔너리 생성
height                                        # 딕셔너리 출력

test = dict()                                 # 빈 딕셔너리 생성
test                                          # {}

height['Kim']                                 # key 'Kim'의 값 조회

height = {'Jun':174, 'Kim':170, 'Lee':165}   
height
> {'Jun': 174, 'Kim': 170, 'Lee': 165}

test = dict()   
test
> {}

height['Kim']
> 170

In [ ]:
height = {'Jun':174, 'Kim':170, 'Lee':165}    # 딕셔너리 생성
'Kim' in height                               # key 'Kim'이 있는지 확인

height['Lee'] = 180                            # key 'Lee' 값 수정
height                                         # 딕셔너리 출력

height['Ihm'] = 168                            # 새로운 key 'Ihm' 값 추가
height                                         # 딕셔너리 출력

height = {'Jun':174, 'Kim':170, 'Lee':165}   
'Kim' in height
> True

height['Lee'] = 180   
height
> {'Jun': 174, 'Kim': 170, 'Lee': 180}

height['Ihm'] = 168   
height
> {'Jun': 174, 'Kim': 170, 'Lee': 180, 'Ihm': 168}

In [ ]:
height.keys()                           # 딕셔너리의 모든 key 추출

height.values()                         # 딕셔너리의 모든 value 추출

height.items()                          # 딕셔너리의 (key, value) 튜플 추출

dict_keys = height.keys()                # keys 추출
keys_list = list(dict_keys)             # keys를 리스트로 변환
keys_list

height.keys()
> dict_keys(['Jun', 'Kim', 'Lee', 'Ihm'])

height.values()
> dict_values([174, 170, 165, 168])

height.items()
> dict_items([('Jun', 174), ('Kim', 170), ('Lee', 165), ('Ihm', 168)])

dict_keys = height.keys()   
keys_list = list(dict_keys)   
keys_list
> ['Jun', 'Kim', 'Lee', 'Ihm']

In [ ]:
height.pop('Ihm')              # key 'Ihm'에 해당하는 요소 제거, 제거된 value 반환

height                         # 'Ihm' 제거 후 딕셔너리 확인

height.clear()                  # 딕셔너리의 모든 요소 제거
height

height.pop('Ihm')
> 168

height
> {'Jun': 174, 'Kim': 170, 'Lee': 165}

height.clear()   
height
> {}

#### 집합(set)

In [ ]:
numbers = {1,2,3}                       # 집합 생성
name = set(['Kim', 'Lee', 'Park'])      # 리스트로부터 집합 생성
empty = set()                            # 빈 집합 생성

len(numbers)                             # 집합 요소 개수 확인

numbers.add(4)                           # 요소 추가
numbers

numbers.remove(4)                        # 요소 제거
numbers

numbers = {1,2,3}   
name = set(['Kim', 'Lee', 'Park'])   
empty = set()

len(numbers)
> 3

numbers.add(4)   
numbers
> {1, 2, 3, 4}

numbers.remove(4)   
numbers
> {1, 2, 3}

In [ ]:
setA = {1, 2, 3}
setB = {1, 2, 3}
setA == setB                        # 두 집합이 같은가?

setA = {1, 2, 3, 4, 5, 6}
setB = {1, 2, 3}
setB < setA                         # setB가 setA의 부분집합인가?

setB.issubset(setA)                 # 부분집합 여부 확인

setA = {1, 2, 3}   
setB = {1, 2, 3}   
setA == setB
> True

setA = {1, 2, 3, 4, 5, 6}   
setB = {1, 2, 3}   
setB < setA
> True

setB.issubset(setA)   
> True