## 4장 연습문제 풀이

이 파일은 4장 연습문제 풀이 내용을 정리한 내용입니다.

날짜 : 2025 - 09 - 10

저자 : 차일권

학번 : 202111467

#### 3명이상친구이름리스트를작성하고다음내용을프로그램하시오   
• insert()로 맨 앞에 새로운 친구 추가   
• insert()로 3번째 위치에 새로운 친구 추가   
• append()로 마지막에 친구 추가

In [ ]:
friends = ['일권', '영준', '석한', '민상']  # 친구 이름 리스트

friends.insert(0, '건호')      # 맨 앞에 친구 추가
print(friends)                # 결과 출력

friends.insert(2, '희태')    # 3번째 위치에 친구 추가
print(friends)                # 결과 출력

friends.append('연준')       # 마지막에 친구 추가
print(friends)                # 결과 출력

friends = ['일권', '영준', '석한', '민상']

friends.insert(0, '건호')      # 맨 앞에 친구 추가
print(friends)
> ['건호', '일권', '영준', '석한', '민상']

friends.insert(2, '희태')    # 3번째 위치에 친구 추가
print(friends)
> ['건호', '일권', '희태', '영준', '석한', '민상']

friends.append('연준')       # 마지막에 친구 추가
print(friends)
> ['건호', '일권', '희태', '영준', '석한', '민상', '연준']

#### 리스트[1, 2, 3]에 대해 다음과같은처리를하라.
• 두 번째요소를17로수정   
• 리스트에4, 5, 6을 추가   
• 첫 번째요소제거   
• 리스트를요소순서대로배열하기   
• 인덱스3에25넣기

In [ ]:
lst = [1, 2, 3]

lst[1] = 17                 # 두 번째 요소를 17로 수정
print(lst)

lst.extend([4, 5, 6])       # 리스트에 4, 5, 6 추가
print(lst)

lst.pop(0)                   # 첫 번째 요소 제거
print(lst)

lst.sort()                   # 리스트를 오름차순으로 정렬
print(lst)

lst.insert(3, 25)            # 인덱스 3에 25 삽입
print(lst)

lst = [1, 2, 3]

lst[1] = 17                 
print(lst)
> [1, 17, 3]

lst.extend([4, 5, 6])      
print(lst)
> [1, 17, 3, 4, 5, 6]

lst.pop(0)                  
print(lst)
> [17, 3, 4, 5, 6]

lst.sort()                  
print(lst)
> [3, 4, 5, 6, 17]

lst.insert(3, 25)   
print(lst)
> [3, 4, 5, 25, 6, 17]