## 5장 노트정리

이 파일은 5장을 학습한 내용을 정리한 내용입니다.

날짜 : 2025 - 09 - 17

저자 : 차일권

학번 : 202111467

함수 (Function)   
정의: 특정 코드를 묶어 이름을 붙인 것.

> 사용 이유:

코드 중복 제거   
프로그램을 간단히 분해   
코드 재사용   
가독성 및 유지관리 용이   

>파이썬의 일급 함수: 함수를 변수처럼 다룰 수 있음.

변수에 할당 가능: a = func   
다른 함수의 인자로 전달 가능: func1(func)   
반환 값으로 반환 가능: return func

>종류:

내장 함수: 파이썬이 제공 (print(), len())   
사용자 정의 함수: 직접 정의하는 함수

In [ ]:
def welcome(name):
    print("Hello,", name)      # 이름을 받아 인사 출력

welcome('John')                # 'John'으로 함수 호출

def welcome(name):   
    print("Hello,", name)   

welcome('John')
> Hello, John

In [ ]:
def prtStr(str):
    print("%s" % str)        # 전달받은 문자열 출력

str = "Welcome to Python"
prtStr(str)                  # 함수 호출

def prtStr(str):   
    print("%s" % str)

str = "Welcome to Python"   
prtStr(str)
> Welcome to Python

In [ ]:
def squareArea(s):
    area = s * s            # 한 변의 길이 s로 정사각형 넓이 계산
    return area             # 계산된 넓이 반환

a = squareArea(5)          # 변의 길이 5인 정사각형 넓이
b = squareArea(7)          # 변의 길이 7인 정사각형 넓이

print("한변의 길이가 %d인 정사각형의 넓이는 %d" % (5, a))  
print("한변의 길이가 %d인 정사각형의 넓이는 %d" % (7, b))

def squareArea(s):   
    area = s * s   
    return area

a = squareArea(5)   
b = squareArea(7)

print("한변의 길이가 %d인 정사각형의 넓이는 %d" % (5, a))
> 한변의 길이가 5인 정사각형의 넓이는 25

print("한변의 길이가 %d인 정사각형의 넓이는 %d" % (7, b))
> 한변의 길이가 7인 정사각형의 넓이는 49

In [ ]:
def sum(n):
    hab = 0                     # 합을 저장할 변수 초기화
    for i in range(1, n+1):     # 1부터 n까지 반복
        hab = hab + i           # 합에 i를 더함
    return hab                  # 최종 합 반환

a = sum(50)                     # 1~50까지 합
b = sum(1000)                   # 1~1000까지 합

print(a)                        
print(b)

def sum(n):   
    hab = 0   
    for i in range(1, n+1):   
        hab = hab + i   
    return hab

a = sum(50)   
b = sum(1000)

print(a)
> 1275

print(b)
> 500500

#### 함수와 변수

In [ ]:
def func1():
    v = 10           # func1() 안의 지역 변수
    print("func1()의 v = %d" % v)

def func2():
    v = 20           # func2() 안의 지역 변수
    print("func2()의 v = %d" % v)

func1()
func2()

def func1():   
    v = 10   
    print("func1()의 v = %d" % v)

def func2():   
    v = 20   
    print("func2()의 v = %d" % v)

func1()
> func1()의 v = 10

func2()
> func2()의 v = 20

In [ ]:
def func1():
    v = 10          
    print("func1()의 v = %d" % v)

def func2():
    print("func2()의 v = %d" % v)  

# 전역 변수
v = 20                # 프로그램 전체에서 유효

func1()               # 지역 변수 v=10 출력
func2()               # 전역 변수 v=20 출력

def func1():   
    v = 10   
    print("func1()의 v = %d" % v)

def func2():   
    print("func2()의 v = %d" % v)

v = 20

func1()
> func1()의 v = 10

func2()
> func2()의 v = 20

In [ ]:
def func1():
    v = 10               # func1() 안의 지역 변수
    print("func1()의 v = %d" % v)

def func2():
    global v             # v를 전역 변수로 선언
    v = 30               # 전역 변수 v를 변경
    print("func2()의 변경된 전역 v = %d" % v)

v = 20                   # 전역 변수

func1()                  # 지역 변수 v=10 출력
func2()                  # 전역 변수 v=30 출력
print(v)                  # 전역 변수 v=30 출력

def func1():   
    v = 10   
    print("func1()의 v = %d" % v)

def func2():   
    global v   
    v = 30   
    print("func2()의 변경된 전역 v = %d" % v)

v = 20

func1()
> func1()의 v = 10

func2()
> func2()의 변경된 전역 v =

In [ ]:
def prtMesg(message, count=1):  # count의 기본값 1
    print(message * count)

prtMesg('default')             # message='default', count=기본값 1 사용
prtMesg('Hi! ', 5)             # message='Hi! ', count=5 전달

def greet(name, msg="Nothing new?"):  # msg 기본값 지정
    print("Hi! ", name + ', ' + msg)

greet("Abe")                   # name만 전달
greet("Bob", "Good morning!")  # name과 msg 전달

# 잘못된 호출 예시
prtMesg(count=3)               # message 인자 누락

def prtMesg(message, count=1):   
    print(message * count)

prtMesg('default')
> default

prtMesg('Hi! ', 5)
> Hi! Hi! Hi! Hi! Hi! 

def greet(name, msg="Nothing new?"):
    print("Hi! ", name + ', ' + msg)

greet("Abe")
> Hi!  Abe, Nothing new?

greet("Bob", "Good morning!")
> Hi!  Bob, Good morning!

prtMesg(count=3)
> Traceback (most recent call last):   
>   File "<stdin>", line 1, in <module>   
> TypeError: prtMesg() missing 1 required positional argument: 'message'

In [ ]:
def total(*numbers):  # 매개변수를 튜플로 받아 합계를 계산
    sum = 0
    for n in numbers:  # 전달받은 모든 숫자를 순회
        sum += n
    return sum

print(total(1,2,3))        # 3개의 인자 전달
print(total(1,2,3,4,5))    # 5개의 인자 전달

def dicPresident(**keywords):  # 키워드 인자를 딕셔너리로 처리
    for i in keywords.keys():  # 키 하나씩 처리
        print("%s : %d-th president" % (i, keywords[i]))

dicPresident(Kennedy=35, Obama=44, Trump=45)  # 키워드 인자 전달

def total(*numbers):   
    sum = 0   
    for n in numbers:   
        sum += n   
    return sum

print(total(1,2,3))
> 6

print(total(1,2,3,4,5))
> 15

def dicPresident(**keywords):   
    for i in keywords.keys():   
        print("%s : %d-th president" % (i, keywords[i]))

dicPresident(Kennedy=35, Obama=44, Trump=45)
> Kennedy : 35-th president   
> Obama : 44-th president   
> Trump : 45-th president

def total(*numbers):   
    sum = 0   
    for n in numbers:   
        sum += n   
    return sum

print(total(1,2,3))
> 6

print(total(1,2,3,4,5))
> 15

def dicPresident(**keywords):   
    for i in keywords.keys():   
        print("%s : %d-th president" % (i, keywords[i]))

dicPresident(Kennedy=35, Obama=44, Trump=45)
> Kennedy : 35-th president   
> Obama : 44-th president   
> Trump : 45-th president

In [ ]:
def func(a, b=2, c=3):  # a: 위치 매개변수, b, c: 기본값이 있는 키워드 매개변수
    print('a=', a, 'b=', b, 'c=', c)
    return a + b + c

print(func(4, 5))        # 위치 인자 전달, a=4, b=5, c는 기본값 사용
print(func(5, c=7))      # 키워드 인자 전달, a=5, c=7, b는 기본값 사용

def func(a, b=2, c=3):   
    print('a=', a, 'b=', b, 'c=', c)   
    return a + b + c

print(func(4, 5))
> a= 4 b= 5 c= 3   
> 12

print(func(5, c=7))
> a= 5 b= 2 c= 7   
> 14

#### 람다(lambda) 함수

이름이없는한줄짜리함수

In [ ]:
sum = lambda x, y: x + y  # 두 수의 합을 반환하는 lambda 함수

print("정수의 합 : ", sum(10, 20))  # 10 + 20 계산
print("정수의 합 : ", sum(20, 20))  # 20 + 20 계산

sum = lambda x, y: x + y

print("정수의 합 : ", sum(10, 20))
> 정수의 합 :  30

print("정수의 합 : ", sum(20, 20))
> 정수의 합 :  40

#### 재귀 함수

함수내에서자기자신을호출하는함수   
같은동작을반복할때재귀함수사용   
함수가종료되는조건을반드시포함해야한다

In [ ]:
def fact(n):
    if n == 1:          # 재귀 종료 조건
        return 1
    else:
        return n * fact(n - 1)  # n! = n * (n-1)!

print(fact(5))          # 5! 계산

def fact(n):   
    if n == 1:   
        return 1   
    else:   
        return n * fact(n - 1)

print(fact(5))
> 120

#### 내장 함수

In [ ]:
eval('1+2*3')  # 문자열로 된 수식을 계산

eval('1+2*3')
> 7

In [ ]:
int('123')         # 문자열 '123'을 10진 정수로 변환
int('1010', 2)     # 문자열 '1010'을 2진수로 해석하여 10진수로 변환

int('123')
> 123

int('1010', 2)
> 10

In [ ]:
list(filter(lambda x: len(x) > 2, ['this', 'is', 'a', 'test']))
# 길이가 2보다 큰 문자열 요소만 필터링하여 새로운 리스트 생성

list(filter(lambda x: len(x) > 2, ['this', 'is', 'a', 'test']))
> ['this', 'test']

In [ ]:
def Squares(n):
    return n**2  # 입력값 n의 제곱 반환

numbers = [1, 3, 5, 9]
list(map(Squares, numbers))
# numbers 리스트의 각 요소를 Squares 함수에 적용하여 새로운 리스트 생성

def Squares(n):   
    return n**2

numbers = [1, 3, 5, 9]   
list(map(Squares, numbers))
> [1, 9, 25, 81]

ord  (반대: chr)   
Ch에 대한ASCII 코드 반환 ord('A') → 65

repr   
obj를 문자열로 변환 repr(b'0011') → "b'0011’”

In [ ]:
round(12.345, 1)  # 소수점 첫째 자리까지 반올림
round(12.345, 2)  # 소수점 둘째 자리까지 반올림

round(12.345, 1)
> 12.3

round(12.345, 2)
> 12.35

In [ ]:
names = ['Peter Parker', 'Clark Kent', 'Wade Wilson', 'Bruce Wayne']
heroes = ['Spiderman', 'Superman', 'Deadpool', 'Batman']

for name, hero in zip(names, heroes):  # 두 리스트를 순회하며 각각의 요소를 튜플로 묶음
    print(f'{name} is actually {hero}')  # 각 이름과 히어로 이름 출력

list(zip(names, heroes))  # 두 리스트의 요소를 튜플로 묶어 리스트 생성

names = ['Peter Parker', 'Clark Kent', 'Wade Wilson','Bruce Wayne']    
heroes = ['Spiderman', 'Superman', 'Deadpool', 'Batman']

for name, hero in zip(names, heroes):   
    print(f'{name} is actually {hero}')
> Peter Parker is actually Spiderman   
> Clark Kent is actually Superman   
> Wade Wilson is actually Deadpool   
> Bruce Wayne is actually Batman

list(zip(names, heroes))
> [('Peter Parker', 'Spiderman'), ('Clark Kent', 'Superman'), ('Wade Wilson', 'Deadpool'), ('Bruce Wayne', 'Batman')]

#### 명시적 타입 습관

In [ ]:
def add(a, b):  # 두 수를 더하는 함수
    return a + b

def greet(name):  # 이름을 받아 인사 문자열 반환
    return f"Hello, {name}!"

def get_list():  # 고정된 리스트 반환
    return [1, 2, 3]

# 타입 힌트를 포함한 함수 정의
def add(a: int, b: int) -> int:  # a, b는 정수, 반환값도 정수
    return a + b

def greet(name: str) -> str:  # name은 문자열, 반환값도 문자열
    return f"Hello, {name}!"

def get_list() -> list:  # 반환값은 리스트
    return [1, 2, 3]

def add(a, b):
    return a + b
> 

def greet(name):
    return f"Hello, {name}!"
> 

def get_list():
    return [1, 2, 3]
> 

def add(a: int, b: int) -> int:
    return a + b
> 

def greet(name: str) -> str:
    return f"Hello, {name}!"
> 

def get_list() -> list:
    return [1, 2, 3]
>